nav{
  background-color: darkslateblue;
  padding: 1.5rem;
}

.navlin{
    padding: 1rem;
    color: white;
}

.navlin:hover{
    color: yellow;
}

/* estilo para el link activo */
.navlin.active{
  color: gold;
  font-weight: 700;
  text-decoration: underline;
}